.c-progress {
    $SIZE : 10px;
    font-size: 1rem;
    position: absolute;
    bottom: 0.75em;
    left: 50%;
    transform: translateX(-50%);

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    ul > li {
        content: ' ';
        display: inline-block;
        margin-right: 0.5em;

        &:last-child {
            margin-right: 0;
        }
    }

    &__circles {
        width: $SIZE;
        height: $SIZE;
        border-radius: 50%;
        border: 1px solid white;
        opacity: 0.75;
    }
    &__content {
        width: $SIZE;
        height: $SIZE;
        background-color: white;
        opacity: 0.25;
    }
}