@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Lato:900|Montserrat|Roboto|Charmonman|Caveat+Brush|Poppins:500');

@import './normalize.scss';
@import './src/component/Gram/Gram.scss';
@import './src/component/Progress/Progress.scss';
@import './src/component/Queue/Queue.scss';


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
